@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans&family=Red+Hat+Text:wght@700&display=swap');

.background {
    height: 100vh;
    width: 100vw;
    background-image: url(../static/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 40%;
    font-style: 'Josefin Sans';
};
.HomeCenter {
    display: flex;
    flex-direction: column;
    width: 100%;
};
.HomeTop {
    width: 80%;
    background-color: hsl(0, 0%, 98%);
    border-radius: 1.5em;
    margin-left: 10%;
    margin-top: 2.5%;
}
.HomeBottom {
    width: 80%;
    background-color: hsl(0, 0%, 98%);
    border-radius: .5em;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 0px 10px 10px hsl(233, 11%, 84%);
}
.HomeBottom ul {
    list-style: none;
    line-height: 2.5em;
}
.HomeBottom ul li{
    border-bottom: 1px solid grey;
}